@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');

@font-face {
  font-family: "Gilroy Medium";
  src: url("./fonts/Gilroy-Medium.ttf");
}


*{
	font-family: Gilroy Medium;
}

body{
	background: #FBFBF7;
	margin: 0;
}
